.menu-section-banner {
    width: 80rem;
    padding: var(--margin-small);
    display: flex;
    flex-direction: column;
    gap: var(--margin-big);
    background-color: var(--bg-primary);
    border-radius: var(--corner-small);

    .menu-contents {
        padding: 0 var(--margin-big);
        display: flex;
        flex-direction: row;
        gap: var(--margin-huge);
    }

    .empty-state-msg {
        margin-top: var(--margin-huge);
        font-size: var(--font-medium);
        text-align: center;
    }
}