<div class="wallet-options">
    <div class="wallet-main">
        <h1>Баланс</h1>
        <span class="wallet-balance">баланс загружается...</span>
        {{!-- top up/withdraw button --}}
        {{!-- amount input --}}
    </div>
</div>