<div class="wallet-options">
    <div class="wallet-main">
        <h1>Баланс</h1>
        <span class="wallet-balance">баланс загружается...</span>
        {{!-- replenish button --}}
    </div>
    {{!-- auto-replenish switch --}}
    {{!-- auto-replenish period --}}
</div>