button {
    border: var(--border-width) solid;
    border-radius: var(--corner-small);
    padding: 5px var(--margin-big);
    cursor: pointer;

    &.primary {
        border-color: var(--active-primary-dark);
        background-color: var(--active-primary);

        &:hover {
            background-color: color-mix(in srgb, var(--active-primary), var(--active-primary-dark));
        }

        &:active {
            background-color: var(--active-primary-dark);
        }
    }

    &.neutral {
        border-color: var(--bg-secondary-dark);
        background-color: var(--bg-secondary);

        &:hover {
            background-color: color-mix(in srgb, var(--bg-secondary), var(--bg-secondary-dark));
        }

        &:active {
            background-color: var(--bg-secondary-dark);
        }
    }

    &.subtle {
        border-color: var(--bg-secondary);
        background-color: var(--bg-primary);

        &:hover {
            background-color: color-mix(in srgb, var(--bg-primary), var(--bg-secondary));
        }

        &:active {
            background-color: var(--bg-secondary);
        }
    }

    &.danger {
        border-color: var(--active-danger-dark);
        color: var(--text-inverted);
        background-color: var(--active-danger);

        &:hover {
            background-color: color-mix(in srgb, var(--active-danger), var(--active-danger-dark));
        }

        &:active {
            background-color: var(--active-danger-dark);
        }
    }

    &[disabled] {
        border-color: var(--bg-gray) !important;
        color: var(--bg-gray) !important;
        background-color: var(--bg-light-gray) !important;
        cursor: default;
    }
}