<div id="page-profile">
    <div class="navbar-container"></div>

    <div class="contents">
        <div class="public-section">
            <h1>Профиль</h1>
        </div>
        <div class="private-section">
            {{!-- wallet options --}}
            {{!-- Настройки --}}
            {{!-- role --}}
            {{!-- email options --}}
            {{!-- password change --}}
        </div>
    </div>
</div>