#page-profile {
    .navbar-container {
        position: sticky;
        top: var(--margin-medium);
        margin-bottom: var(--margin-medium);
        z-index: 1;
    }

    .contents {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .main {
            width: 80rem;
            flex-shrink: 1;
            padding: var(--margin-big);
            display: flex;
            flex-direction: row;
            gap: var(--margin-huge);
            flex-wrap: wrap;
            justify-content: space-around;
            background-color: var(--bg-primary);
            border-radius: var(--corner-small);
        }
    }

    .public-section,
    .private-section {
        flex: 0.5 0 25rem;
        display: flex;
        flex-direction: column;
        gap: var(--margin-medium);
        align-items: end;
    }

    .public-section>*,
    .private-section>* {
        width: 100%;
    }

    h1 {
        font-size: var(--font-large);
    }

    .image-upload {
        width: 100%;
    }

    button.danger {
        width: fit-content;
    }
}