.image-upload {
    display: flex;
    flex-direction: column;
    gap: var(--margin-big);

    .image {
        width: 100%;
        aspect-ratio: 1;
        background-color: var(--bg-secondary);
        border: var(--border-width) solid var(--bg-secondary);
        border-radius: var(--corner-small);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
    }

    .input-file {
        width: 100%;
    }
}