/* CSS reset from https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

/* globals */

:root {
    --active-primary: #72E6BF;
    --active-primary-dark: #4CB894;
    --active-secondary: #96F2EE;
    --active-secondary-dark: #69CEC9;
    --active-warning: #FFC423;
    --active-danger-light: #FF867B;
    --active-danger: #FF513A;
    --active-danger-dark: #D22D2D;

    --bg-primary: #FFFFFF;
    --bg-secondary: #E2EEF2;
    --bg-secondary-dark: #AECDD8;
    --bg-light-gray: #DFDFDF;
    --bg-gray: #9c9c9c;
    --bg-dark-gray: #747474;
    --bg-transparent: rgba(0, 0, 0, 0);

    --text-primary: #202020;
    --text-inverted: #FFFFFF;
    --text-secondary: #757575;

    --corner-small: 12px;
    --corner-big: 36px;
    --border-width: 2px;

    --font-small: 16px;
    --font-medium: 22px;
    --font-large: 28px;

    --margin-small: 10px;
    --margin-medium: 20px;
    --margin-big: 30px;
    --margin-huge: 100px;

    font-size: var(--font-small);
}

* {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--font-small);
    color: var(--text-primary);
}

body {
    background-color: var(--bg-secondary);
}

/* input field */

.input-field {
    width: 240px;
    text-align: left;
}

.input-field .label {
    margin-bottom: var(--margin-small);
}

.input-field input {
    width: 100%;
    height: 40px;
    padding: var(--margin-small);
    border: var(--border-width) solid var(--bg-light-gray);
    border-radius: var(--corner-small);
    outline: none;
}

.input-field input:focus {
    box-shadow: 0px 0px 0px 5px rgb(from var(--active-primary) r g b / 50%);
}

.input-field.error input:focus {
    box-shadow: 0px 0px 0px 5px rgb(from var(--active-danger) r g b / 50%);
}

.input-field.disabled input {
    border-color: var(--bg-gray);
    background-color: var(--bg-light-gray);
}

.input-field.disabled .label,
.input-field input::placeholder {
    color: var(--bg-gray);
}

.input-field .error-msg {
    margin-top: var(--margin-small);
    color: var(--active-danger);
    display: none;
}

.input-field.error input {
    border-color: var(--active-danger);
}

.input-field.error .error-msg {
    display: block;
}

/* button */

button {
    border: var(--border-width) solid;
    border-radius: var(--corner-small);
    padding: 5px var(--margin-big);
    cursor: pointer;
}

button.primary {
    border-color: var(--active-primary-dark);
    background-color: var(--active-primary);
}

button.primary:hover {
    background-color: color-mix(in srgb, var(--active-primary), var(--active-primary-dark));
}

button.primary:active {
    background-color: var(--active-primary-dark);
}

button.neutral {
    border-color: var(--bg-secondary-dark);
    background-color: var(--bg-secondary);
}

button.neutral:hover {
    background-color: color-mix(in srgb, var(--bg-secondary), var(--bg-secondary-dark));
}

button.neutral:active {
    background-color: var(--bg-secondary-dark);
}

button.subtle {
    border-color: var(--bg-secondary);
    background-color: var(--bg-primary);
}

button.subtle:hover {
    background-color: color-mix(in srgb, var(--bg-primary), var(--bg-secondary));
}

button.subtle:active {
    background-color: var(--bg-secondary);
}

button.danger {
    border-color: var(--active-danger-dark);
    color: var(--text-inverted);
    background-color: var(--active-danger);
}

button.danger:hover {
    background-color: color-mix(in srgb, var(--active-danger), var(--active-danger-dark));
}

button.danger:active {
    background-color: var(--active-danger-dark);
}

button[disabled] {
    border-color: var(--bg-gray) !important;
    color: var(--bg-gray) !important;
    background-color: var(--bg-light-gray) !important;
    cursor: default;
}

/* ad list item */

.ad-list-item {
    width: 400px;
    height: 65px;
    padding: 0 var(--margin-medium);
    background-color: var(--bg-secondary);
    border-radius: var(--corner-small);
    border: var(--border-width) solid var(--bg-secondary-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.ad-list-item:hover {
    background-color: color-mix(in srgb, var(--bg-secondary), var(--bg-secondary-dark));
}

.ad-list-item:active {
    background-color: var(--bg-secondary-dark);
}

.ad-list-item .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ad-list-item .status {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.ad-list-item .name {
    font-size: var(--font-medium);
}

.ad-list-item .indicator {
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.ad-list-item.active .indicator {
    background-color: var(--active-primary);
}

.ad-list-item.awaiting .indicator {
    background-color: var(--active-warning);
}

.ad-list-item.rejected .indicator {
    background-color: var(--active-danger);
}

/* ad list */

.ad-list {
    width: 360px;
    min-height: 500px;
    padding: var(--margin-medium);
    background-color: var(--bg-primary);
    border-radius: var(--corner-small);
}

.ad-list>* {
    width: 100%;
    margin-bottom: var(--margin-medium);
}

.ad-list h1 {
    font-size: var(--font-large);
}

.ad-list .none-msg {
    font-size: var(--font-medium);
    text-align: center;
    display: none;
}

.ad-list .none-msg:last-child {
    display: block;
}

.ad-list .list>* {
    width: 100%;
    margin-bottom: var(--margin-small);
}