#page-review {
    .navbar-container {
        position: sticky;
        top: var(--margin-medium);
        margin-bottom: var(--margin-medium);
    }

    .contents {
        width: min(100rem, 90%);
        margin: 0 auto;
        padding: var(--margin-big);
        background-color: var(--bg-primary);
        border-radius: var(--corner-small);

        .reviews-title {
            font-size: var(--font-large);
        }

        .reviews-message {
            text-align: center;
            color: var(--text-secondary);
            padding: var(--margin-big);
        }

        .reviews-container {
            margin-top: var(--margin-medium);
            padding: 0 var(--margin-big);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: var(--margin-medium);

            .review-item {
                width: 30rem;
                padding: var(--margin-medium);
                display: flex;
                flex-direction: column;
                gap: var(--margin-small);
                background-color: var(--bg-primary);
                border: var(--border-width) solid var(--bg-secondary-dark);
                border-radius: var(--corner-small);

                .review-question {
                    font-size: var(--font-medium);
                }

                .review-rating {
                    color: var(--active-primary);
                    font-size: var(--font-large);
                    letter-spacing: 0.2rem;
                }

                .review-comment {
                    padding: var(--margin-small);
                    background-color: var(--bg-secondary);
                    border-radius: var(--corner-small);
                    font-size: var(--font-small);
                }
            }
        }
    }

    .reviews-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--margin-medium);
    }

    .no-reviews {
        text-align: center;
        padding: var(--margin-big);
        color: var(--text-secondary);
        font-size: var(--font-medium);
    }
}