<div id="page-review">
    <div class="navbar-container"></div>

    <div class="contents">
        <div class="main">
            <div class="header-bar">
                <h1 class="reviews-title">Отзывы пользователей</h1>
                {{!-- profile button --}}
            </div>
            <div class="reviews-container"></div>
        </div>
    </div>
</div>