<div id="page-review">
    <div class="navbar-container"></div>

    <div class="contents">
        <h1 class="reviews-title">Отзывы пользователей</h1>
        <div class="reviews-container"></div>
    </div>
</div>