<div class="confirm">
    <div class="confirm__overlay"></div>
    <div class="confirm__content">
        <p class="confirm__message">{{message}}</p>
        <div class="confirm__actions">
            <button class="confirm__button confirm__button_cancel neutral">{{cancelText}}</button>
            <button class="confirm__button confirm__button_confirm {{confirmType}}">{{confirmText}}</button>
        </div>
    </div>
</div>