<div class="menu-banner-editor menu-banner-slot-editor">
    <div class="preview-section">
        <h1>Предпросмотр</h1>
        <div class="preview-container">
            <a class="redirect-link" href="#" target="_blank">
                <div class="card">
                    <img class="card-image">
                    <div class="card-body">
                        <p class="card-link"></p>
                        <h1 class="card-title"></h1>
                        <p class="card-description"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="image-upload-row">
            {{!-- image upload --}}
        </div>
    </div>
    <div class="options-section">
        <h1>Параметры</h1>
        {{!-- banner options form --}}
    </div>
</div>