.menu-banner-editor {
    .preview-section {
        flex: 1 0 15rem;
        display: flex;
        flex-direction: column;
        gap: var(--margin-big);
    }

    .image-upload {
        width: 10rem;
    }
}