.banner-list-item {
    width: 400px;
    height: 65px;
    padding: 0 var(--margin-medium);
    background-color: var(--bg-secondary);
    border-radius: var(--corner-small);
    border: var(--border-width) solid var(--bg-secondary-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.banner-list-item:hover {
    background-color: color-mix(in srgb, var(--bg-secondary), var(--bg-secondary-dark));
}

.banner-list-item:active {
    background-color: var(--bg-secondary-dark);
}

.banner-list-item .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-list-item .status {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.banner-list-item .name {
    font-size: var(--font-medium);
}

.banner-list-item .indicator {
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.banner-list-item.active .indicator {
    background-color: var(--active-primary);
}

.banner-list-item.awaiting .indicator {
    background-color: var(--active-warning);
}

.banner-list-item.rejected .indicator {
    background-color: var(--active-danger);
}