.menu-slot-editor {
    h2 {
        font-size: var(--font-medium);
        margin-top: 2rem;
    }

    .link-section {
        flex: 1 0 15rem;
        display: flex;
        flex-direction: column;
        gap: var(--margin-big);

        .empty-state-msg {
            margin-top: var(--margin-big);
            font-size: var(--font-medium);
            text-align: center;
        }
    }

    .input-select {
        width: 100%;
    }

    .link-copy {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        gap: var(--margin-medium);

        .input-field {
            width: 100%;
        }

        button {
            height: 2.5rem;
        }
    }
}