.menu-slot-editor {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--margin-huge);

    h1 {
        font-size: var(--font-large);
    }

    h2 {
        font-size: var(--font-medium);
        margin-top: 2rem;
    }

    .link-section,
    .options-section,
    .form-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--margin-big);
    }

    .input-field,
    .input-switch,
    .input-select {
        width: 100%;
    }

    .cancel-save {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .preview-container {
        height: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-secondary);
        border-radius: var(--corner-small);
    }

    .link-section .input-field,
    button {
        width: fit-content;
    }

    .link-copy {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        gap: var(--margin-medium);

        .input-field {
            width: 100%;
        }

        button {
            height: 40px;
        }
    }
}