* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--font-small);
    color: var(--text-primary);
}

html,
body {
    height: 100%;
    background-color: var(--bg-secondary);
}

#root {
    padding: var(--margin-medium);
    min-height: 100%;
}