.input-field-select {
    width: 240px;
    text-align: left;
    background-color: var(--bg-primary);

    .label {
        margin-bottom: 5px;

        &:empty {
            display: none;
        }
    }

    .input {
        width: 100%;
        height: 40px;
        padding: var(--margin-small);
        background-color: var(--bg-primary);
        border: var(--border-width) solid var(--bg-light-gray);
        border-radius: var(--corner-small);
        outline: none;
        transition: 0.2s;

        &:focus {
            box-shadow: 0px 0px 0px 5px rgb(from var(--active-primary) r g b / 50%);
        }

        .option {
            font-family: "Inter", sans-serif;
        }
    }

    &.error {
        .input {
            border-color: var(--active-danger);

            &:focus {
                box-shadow: 0px 0px 0px 5px rgb(from var(--active-danger) r g b / 50%);
            }
        }

        .error-msg {
            display: block;
        }
    }

    &.disabled {
        .input {
            border-color: var(--bg-gray);
            background-color: var(--bg-light-gray);
        }

        .label {
            color: var(--bg-gray);
        }
    }

    .error-msg {
        margin-top: var(--margin-small);
        color: var(--active-danger);
        display: none;
    }
}