.list-banner-slot {
    width: 22rem;
    height: calc(100vh - (var(--margin-medium) * 3 + var(--navbar-height)));
    position: sticky;
    top: calc(var(--margin-medium) * 2 + var(--navbar-height));
    display: flex;
    flex-direction: column;
    gap: var(--margin-medium);
    padding: var(--margin-medium);
    background-color: var(--bg-primary);
    border-radius: var(--corner-small);

    h1 {
        font-size: var(--font-large);
    }

    .none-msg {
        font-size: var(--font-medium);
        text-align: center;
        display: none;

        &:last-child {
            display: block;
        }
    }

    .list {
        flex: 1;
        overflow-y: scroll;
        padding-right: var(--margin-small);

        &>* {
            width: 100%;
            margin-bottom: var(--margin-small);
        }
    }
}