$mobile-max-width: ENV_MOBILE_MAX_WIDTH_PXpx;

body:has(.list-banner-slot.list_expanded) {
    overflow: hidden;
}

.list-banner-slot {
    width: 22rem;
    min-width: 18rem;
    height: calc(100vh - (var(--margin-medium) * 3 + var(--navbar-height)));
    position: sticky;
    top: calc(var(--margin-medium) * 2 + var(--navbar-height));
    display: flex;
    flex-direction: column;
    gap: var(--margin-medium);
    padding: var(--margin-medium);
    background-color: var(--bg-primary);
    border-radius: var(--corner-small);

    @media (max-width: $mobile-max-width) {
        width: 100%;
        flex-shrink: 0;
        margin-left: -100%;
        transition: margin-left 0.5s;

        &.list_expanded {
            margin-left: 0;
        }
    }

    h1 {
        font-size: var(--font-large);
    }

    .none-msg {
        font-size: var(--font-medium);
        text-align: center;
        display: none;

        &:last-child {
            display: block;
        }
    }

    .list {
        flex: 1;
        overflow-y: scroll;
        padding-right: var(--margin-small);

        &>* {
            width: 100%;
            margin-bottom: var(--margin-small);
        }
    }
}