.alerts-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: min(30rem, 50%);
    height: 100%;
    padding: var(--margin-big);
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: var(--margin-small);
    pointer-events: none;

    &__alert {
        padding: var(--margin-medium);
        border-radius: var(--corner-small);
        font-size: var(--font-medium);
        user-select: none;
        cursor: pointer;
        pointer-events: all;

        &_success {
            background-color: var(--active-primary);
            box-shadow: 0 0 var(--margin-big) rgb(from var(--active-primary-dark) r g b / 0.5);
        }

        &_error {
            background-color: var(--active-danger);
            box-shadow: 0 0 var(--margin-big) rgb(from var(--active-danger-dark) r g b / 0.5);
            color: var(--text-inverted);
        }
    }
}