<div class="navbar"></div>

<div class="contents">
    <div class="ad-list">
        <h1>Мои объявления</h1>
        <button class="primary">Создать объявление</button>
        <div class="list">
            <p class="none-msg">Нет объявлений</p>
        </div>
    </div>
    <div class="main-section"></div>
</div>