<div id="page-sign-in" class="sign-in-up">
    <div class="container">
        <div class="form-block">
            <h1>Войти в аккаунт Рекламодателя</h1>
        </div>
        <div class="offer-block">
            <h1>Добро пожаловать!</h1>
            <p>Впервые у нас? Создайте аккаунт!</p>
        </div>
    </div>
</div>