<div class="list-slot list-banner-slot expanded">
    <h1>Мои слоты</h1>
    <button class="primary create-slot-btn">Создать слот</button>
    <div class="list"></div>
    <div class="toggle">
        <img class="icon-bars" src="/static/icons/bars-solid.svg" alt="☰" title="Открыть список">
        <img class="icon-xmark" src="/static/icons/xmark-solid.svg" alt="X" title="Закрыть список">
    </div>
</div>