<div class="navbar">
    <div class="pages-section">
        <div class="logo-box">
            <span class="logo-text">ReTarget</span>
        </div>
        {{#if userAuthed}}
        <div class="pages-list"></div>
        {{/if}}
    </div>
    {{#if userAuthed}}
    <div class="user-section">
        <img class="pfp-image" src="" alt="">
        {{!-- profile link --}}
        {{!-- wallet button --}}
    </div>
    {{/if}}
</div>