.navbar {
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .pages-section,
    .user-section,
    .pages-list {
        display: flex;
        flex-direction: row;
    }

    .pages-section,
    .user-section {
        flex-shrink: 0;
        background-color: var(--bg-primary);
        border-radius: var(--corner-small);
        overflow: hidden;
    }

    .logo-box {
        padding: 0 var(--margin-medium);
        height: 100%;
        background-color: var(--active-primary);
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        cursor: pointer;
    }

    .logo-text {
        font-size: 3rem;
        font-weight: bold;
        color: white;
    }

    .pages-list {
        width: 100%;
    }

    .pages-list,
    .user-section {
        padding: 0 var(--margin-medium);
        gap: var(--margin-medium);
        justify-content: center;
        align-items: center;
    }

    .link-inner {
        text-decoration: none;
    }

    .profile-link {
        display: contents;
    }

    .pfp-image {
        width: calc(var(--navbar-height) * 0.75);
        aspect-ratio: 1;
        border-radius: 100%;
    }
}