<div id="sign-up" class="sign-in-up">
    <div class="container">
        <div class="offer-block">
            <h1>С возвращением!</h1>
            <p>Войдите в аккаунт, чтобы получить доступ к размещению</p>
        </div>
        <div class="form-block">
            <h1>Создать аккаунт Рекламодателя</h1>
        </div>
    </div>
</div>