<div class="menu-slot-statistics">
    <h1>Статистика</h1>
    <div class="options"></div>
    <p class="no-data-msg hidden">Недостаточно данных, вернитесь через несколько дней</p>
    <div class="aggregates"></div>
</div>