.input-field {
    width: 240px;
    text-align: left;
}

.input-field .label {
    margin-bottom: var(--margin-small);
}

.input-field input {
    width: 100%;
    height: 40px;
    padding: var(--margin-small);
    border: var(--border-width) solid var(--bg-light-gray);
    border-radius: var(--corner-small);
    outline: none;
}

.input-field input:focus {
    box-shadow: 0px 0px 0px 5px rgb(from var(--active-primary) r g b / 50%);
}

.input-field.error input:focus {
    box-shadow: 0px 0px 0px 5px rgb(from var(--active-danger) r g b / 50%);
}

.input-field.disabled input {
    border-color: var(--bg-gray);
    background-color: var(--bg-light-gray);
}

.input-field.disabled .label,
.input-field input::placeholder {
    color: var(--bg-gray);
}

.input-field .error-msg {
    margin-top: var(--margin-small);
    color: var(--active-danger);
    display: none;
}

.input-field.error input {
    border-color: var(--active-danger);
}

.input-field.error .error-msg {
    display: block;
}