#page-my-banners {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--margin-medium);
}

#page-my-banners .navbar-container {
    position: sticky;
    top: var(--margin-medium);
}

#page-my-banners .contents {
    display: flex;
    flex-direction: row;
    gap: var(--margin-medium);
    flex: 1;
}