.menu-list-item {
    font-size: var(--font-medium);

    &.selected,
    &.selected:hover,
    &.selected:active {
        background-color: var(--bg-secondary);
        box-shadow: 0 0 0 0.375rem rgb(from var(--active-primary) r g b / 50%);
        cursor: default;
    }
}